<div class="contentMain-header" header-common-directive>
    
</div>

<!-- content -->

<div class="contentMain-content-area">
    <div breadcrumbs-directive>

    </div>

    <!-- content-area -->

    <div class="content-area-container container" ng-cloak>
        <div class="content-items">

            <div id="menu-page-content" class="row" ng-cloak >
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="category in vm.menuCategory">
                    <h3 class="title">{{category.name}}</h3>
                    <div class="menu-item row" ng-show="category.name === menuItem.category.name" ng-repeat="menuItem in vm.menuItems">
                        <div class="thumb col-xs-12 col-sm-4">
                            <a href="#/Home/Menu/{{menuItem.category.name}}/{{menuItem.title}}">
                                <img ng-src="{{menuItem.image.url}}" class="img-thumbnail" alt="{{menuItem.title}}">
                                <span class="menu-item-price"><span>${{menuItem.price}}</span></span>
                            </a>
                        </div>
                        <div class="menu-item-body col-sm-8">
                            <h3><a href="#/Home/Menu/{{menuItem.category.name}}/{{menuItem.title}}">{{menuItem.title}}</a></h3>
                            <p>{{menuItem.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end .content-items -->
    </div>
</div><!-- end content-area -->

<div class="content-footer text-left" footer-common-directive>

</div>