<div class="contentMain-header">
    <div class="container">
        <div ng-cloak>
            <h1 class="header-title">{{vm.headerTitle}}</h1>
            <p class="header-body">
                {{vm.headerBody}}
            </p>
        </div>
    </div>
</div>

<!-- content -->

<div class="contentMain-content-area">
    <div>
        <div id="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb pull-left">
                    <li ng-repeat="item in vm.location"><a href="#/">{{item}}</a></li>
                    <li class="active">{{vm.currentLocation}}</li>
                </ol>
            </div>
        </div>
    </div>

    <!-- content-area -->

    <div class="content-area-container container" ng-cloak>
        <div class="content-items row">

            <div ng-cloak class="col-xs-12 col-sm-6 col-md-4" ng-repeat="category in vm.menuCategory">
                <h3 class="title">{{category.name}}</h3>
                <div class="recommendation row" ng-show="category.name === menuItem.category.name" ng-repeat="menuItem in vm.menuItems">
                    <div class="thumb col-xs-12 col-sm-4">
                        <a href="#/{{menuItem.category.name}}/{{menuItem.title}}">
                            <img ng-src="{{menuItem.image.url}}" class="img-thumbnail" alt="{{menuItem.title}}">
                        </a>
                    </div>
                    <div class="recommendation-body col-xs-12 col-sm-8">
                        <h3><a href="#/{{menuItem.category.name}}/{{menuItem.title}}">{{menuItem.title}}</a></h3>
                        <p>{{menuItem.description}}</p>
                    </div>
                </div>
            </div>

        </div><!-- end .content-items -->
    </div>
</div><!-- end content-area -->

<div class="content-footer text-left" footer-common-directive>

</div>