<div class="contentMain-header">
    <div class="container">
        <div>
            <h1 class="header-title">Location</h1>
            <p class="header-body">
                Fusce nunc diam suscipit a iaculis ac tristique ac erat
            </p>
        </div>
    </div>
</div>

<!-- content -->

<div id="contentMain-content-area">
    <div id="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb pull-left">
                <li><a href="#/">Home</a></li>
                <li class="active">Location</li>
            </ol>
        </div>
    </div>

    <!-- content-area -->

    <div id="content-area-container"  class="container">
        <div class="content-items row" >
            <div id="location-page-content">
                <div class="col-xs-12 col-sm-4">
                    <div>
                        <h3 class="title">Address</h3>
                        <p>{{vm.info.address}}</p>
                    </div>
                    <div>
                        <h3 class="title">Hours of operation</h3>
                        <p>Monday-Friday: <span>{{vm.info.mondayFriday}}</span></p>
                        <p>Saturday-Sunday: <span>{{vm.info.saturdaySunday}}</span></p>
                    </div>
                    <div>
                        <h3 class="title">Contact Info</h3>
                        <p>Email Address: <span>{{vm.info.email}}</span></p>
                        <p>Telephone: <span>{{vm.info.telephone}}</span></p>
                        <p>Fax: <span>{{vm.info.fax}}</span></p>
                    </div>
                </div>

                <div  class="thumbnail col-xs-12 col-sm-8" >
                    <div id="map" class="map-locationpage"></div>
                </div>
            </div>
        </div><!-- end .content-items -->
    </div>
</div><!-- end content-area -->