<div class="contentMain-header">
    <div class="container">
        <div ng-cloak>
            <h1 class="header-title">{{vm.headerTitle}}</h1>
            <p class="header-body">
                {{vm.headerBody}}
            </p>
        </div>
    </div>
</div>

<!-- content -->

<div class="contentMain-content-area">
    <div>
        <div id="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb pull-left">
                    <li ng-repeat="item in vm.location"><a href="#/">{{item}}</a></li>
                    <li class="active">{{vm.currentLocation}}</li>
                </ol>
            </div>
        </div>
    </div>

    <!-- content-area -->

    <div class="content-area-container container" ng-cloak>
        <div class="content-items row">
            <div id="location-page-content" ng-cloak>
                <div class="col-xs-12 col-sm-4">
                    <div>
                        <h3 class="title">Address</h3>
                        <p>{{vm.info.address}}</p>
                    </div>
                    <div>
                        <h3 class="title">Hours of operation</h3>
                        <p>Monday-Friday: <span>{{vm.info.mondayFriday}}</span></p>
                        <p>Saturday-Sunday: <span>{{vm.info.saturdaySunday}}</span></p>
                    </div>
                    <div>
                        <h3 class="title">Contact Info</h3>
                        <p>Email Address: <span>{{vm.info.email}}</span></p>
                        <p>Telephone: <span>{{vm.info.telephone}}</span></p>
                        <p>Fax: <span>{{vm.info.fax}}</span></p>
                    </div>
                </div>

                <div ng-cloak class="thumbnail col-xs-12 col-sm-8">
                    <div id="map" class="map-locationpage"></div>
                </div>
            </div>
        </div><!-- end .content-items -->
    </div>
</div><!-- end content-area -->

<div class="content-footer text-left" footer-common-directive>

</div>