<div class="contentMain-header">
    <div id="myCuisineCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol id="carousel-indicators" class="carousel-indicators">
            <li data-target="#myCuisineCarousel" ng-repeat="carouselItem in vm.carouselItems" ng-class="{active: (carouselItem.position === 0)}" data-slide-to="{{carouselItem.position}}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div ng-class="{item: true, active : (carouselItem.position === 0)}" ng-repeat="carouselItem in vm.carouselItems">
                <img ng-src="{{carouselItem.image.url}}" alt="{{carouselItem.title}}">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="header-title">{{carouselItem.title}}</h1>
                        <p class="header-body">
                            {{carouselItem.description}}
                        </p>
                        <a href="#/" class="btn browse-content-btn">Button’s Text Goes Right Here</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCuisineCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCuisineCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div><!-- end carousel -->
</div>
<!-- ==================================================== -->

<div id="contentMain-content-area">
    <div id="slogan">
        <div class="container">
            <h2 class="slogan-header">“Your awesome company slogan goes here, we have the best food around”</h2>
            <h5 class="slogan-body">Unc elementum lacus in gravida pellentesque urna dolor eleifend felis eleifend</h5>
            <div id="stars">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
    </div>

    <!-- sssssss -->

    <div id="content-area-container" class="container">
        <div class="content-items row">

            <div id="recommendations" class="col-xs-12 col-sm-6 col-md-4">
                <h3 class="title">Chef's Recommendations</h3>
                <div class="recommendation row" ng-show="menuItem.recommendation" ng-repeat="menuItem in vm.menuItems">
                    <div class="thumb col-xs-12 col-sm-4">
                        <a href="#/{{menuItem.category.name}}/{{menuItem.title}}">
                            <img ng-src="{{menuItem.image.url}}" class="img-thumbnail" alt="{{menuItem.title}}">
                        </a>
                    </div>
                    <div class="recommendation-body col-xs-12 col-sm-8">
                        <h3><a href="#/{{menuItem.category.name}}/{{menuItem.title}}">{{menuItem.title}}</a></h3>
                        <p>{{menuItem.description}}</p>
                    </div>
                </div>
            </div>


            <div id="location-home"  class="col-xs-12 col-sm-6 col-md-4">
                <h3 class="title">Location and hours of operation</h3>
                <div class="row">
                    <div class="thumbnail col-xs-12 col-sm-10">
                        <div id="map" class="map-homepage"></div>
                    </div>

                    <div class="work-time col-xs-12 col-sm-10">
                        <span class="day title">Mon-Fri: <span class="clock">{{vm.info.mondayFriday}}</span></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span class="day title">Sat-Sun: <span class="clock">{{vm.info.saturdaySunday}}</span></span>
                    </div>
                </div>
            </div>


            <div id="testimonials" class="col-xs-12 col-sm-6 col-md-4">
                <h3 class="title">Customer Testimonials</h3>
                <div class="testimonial panel panel-default">
                    <div class="panel-body">
                        <div class="thumb pull-left">
                            <img ng-src="{{vm.testimonial.customer.avatar.url}}" class="img-thumbnail" alt="{{vm.testimonial.customer.firstName}} {{vm.testimonial.customer.lastName}}">
                        </div>
                        <h3><a href="#/">{{vm.testimonial.customer.firstName}}&nbsp;{{vm.testimonial.customer.lastName}}</a></h3>
                        <p>{{vm.testimonial.content}}</p>
                    </div>
                </div>
            </div>


        </div><!-- end .content-items -->

        <div id="btn-browse-menu" class="text-center">
            <a href="#/Menu" class="btn browse-content-btn">Click Here To Browse The Menu</a>
        </div>

    </div>
</div><!-- end content-area -->