<div class="contentMain-header" header-home-directive>
    
</div>

<div class="contentMain-content-area">
    <div slogan-directive>
        
    </div>    

    <div class="content-area-container container" ng-cloak>
        <div class="content-items">

            <div id="home-page-content" class="row">
                <div id="menu-items" ng-cloak class="col-xs-12 col-sm-4">
                    <h3 class="title">Chef's Recommendations</h3>
                    <div class="menu-item row" ng-show="menuItem.recommendation" ng-repeat="menuItem in vm.menuItems">
                        <div class="thumb col-xs-12 col-sm-4">
                            <a href="#/Home/Menu/{{menuItem.category.name}}/{{menuItem.title}}">
                                <img ng-src="{{menuItem.image.url}}" class="img-thumbnail" alt="{{menuItem.title}}">
                            </a>
                        </div>
                        <div class="menu-item-body col-sm-8">
                            <h3><a href="#/Home/Menu/{{menuItem.category.name}}/{{menuItem.title}}">{{menuItem.title}}</a></h3>
                            <p>{{menuItem.description}}</p>
                        </div>
                    </div>
                </div>


                <div id="location-home" ng-cloak class="col-xs-12 col-sm-4">
                    <h3 class="title">Location and hours of operation</h3>
                    <div class="row">
                        <div class="thumbnail col-xs-12 col-sm-10">
                            <div id="map" class="map-homepage"></div>
                        </div>

                        <div class="work-time col-xs-12 col-sm-10">
                            <span class="day title">Mon-Fri: <span class="clock">{{vm.info.mondayFriday}}</span></span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span class="day title">Sat-Sun: <span class="clock">{{vm.info.saturdaySunday}}</span></span>
                        </div>
                    </div>
                </div>


                <div id="testimonials" ng-cloak class="col-xs-12 col-sm-4">
                    <h3 class="title">Customer Testimonials</h3>
                    <div class="testimonial panel panel-default">
                        <div class="panel-body">
                            <div class="thumb pull-left">
                                <img ng-src="{{vm.testimonial.customer.avatar.url}}" class="img-thumbnail" alt="{{vm.testimonial.customer.firstName}} {{vm.testimonial.customer.lastName}}">
                            </div>
                            <h3><a href="#/Home/Blog/Users/{{vm.testimonial.customer.username}}">{{vm.testimonial.customer.firstName}}&nbsp;{{vm.testimonial.customer.lastName}}</a></h3>
                            <p>{{vm.testimonial.content}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end .content-items -->

        <div id="btn-browse-menu" class="text-center">
            <a href="#/Home/Menu" class="btn browse-content-btn home-menu-btn">Click Here To Browse The Menu</a>
        </div>

    </div>
</div><!-- end content-area -->

<div class="content-footer text-center" footer-home-directive>

</div>