<div id="slogan">
    <div class="container">
        <h2 class="slogan-header">“Your awesome company slogan goes here, we have the best food around”</h2>
        <h5 class="slogan-body">Unc elementum lacus in gravida pellentesque urna dolor eleifend felis eleifend</h5>
        <div id="stars">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
    </div>
</div>